.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  
  
  .role-container {
    flex: 1;
    margin-right: 0; /* Remove margin-right for role container */
    min-width: 120px; /* Adjust width as needed */
  }

  .user-field {
    margin-right: 5vh;

  }
  .role-button {
    padding: 8px; /* Increase padding for a larger button appearance */
    border-radius: 4px;
    width: 20%; /* Take the full width of the container */
    margin-bottom: 10px;
    background-color: white; /* Background color */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
    text-align: center;
}

.title-text {
    font-size: 24px;
    font-weight: bold; 
    color: #333;
}
.discussion-name {
    font-weight: normal; 
}


